body {
    display: flex;
    margin: 0;
    flex-direction: column;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ededed;
    align-items: center;
}

.logo img{
    width: 200px;
    height: auto;
    padding-left: 10px;
}

.links ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.links ul li a {
    text-decoration: none;
    padding: 0 10px 0 0;
    font-size: 20px;
    font-family: "FF Mark W05", Arial, sans-serif;
    font-weight: bold;
    color: black;
}

/* Profile */

.profile {
    display: flex;
    height: 500px;
    background-color: aliceblue;
    align-items: center;
    padding: 0 40px;
}

.profile-info {

}

.profile-img {
    margin-left: 20px;

}

.profile-img img {
    width: 500px;
}